@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

/* animations */
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-30px) scale(.9);
  }

  100% {
    opacity: 100;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(.9);
  }

  100% {
    opacity: 100;
    transform: translateY(0px) scale(1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

@keyframes swipe-left-fade-in {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }

  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

/* general */
html {
  text-rendering: optimizeLegibility;
  font-family: 'Red Hat Display';
  scroll-behavior: smooth;
  color: #fff;
  background-color: #323D45;
}

html,
body,
ul {
  margin: 0;
  padding: 0;
}

p {
  font-size: 16x;
}

#main-wrap {
  background-image: url(img/waves.png);
  background-attachment: fixed;
  background-size: cover;
}

/* header / navbar */
#header {
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: block;
  width: 100%;
  position: fixed;
}

/* for mobile */
#hamburger {
  display: none;
  cursor: pointer;
  margin-right: 15px;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: 0.4s;
}

#mobilebar {
  display: none;
  position: fixed;
  margin-top: 64px;
  right: 0;
  padding-left: 15px;
  border-bottom-left-radius: 25px;
  z-index: 10;
  background-color: rgba(50, 61, 69, 0.9);
  text-align: right;
}

#mobilebar ul {
  list-style-type: none;
}

#mobile-links li {
  margin-bottom: 50px;
}

#mobile-links li:nth-child(1) {
  margin-top: 15px;
}

#mobile-links li a {
  font-size: 24px;
}

/* navbar */
nav {
  animation: fade-down 1s;
  z-index: 100;
  position: relative;
  top: 0;
  margin: 0;
  padding: 15px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#name {
  font-family: "DM Serif Display", serif;
  color: white;
  margin-left: 20px;
  font-size: 24px;
}

nav ul {
  display: flex;
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

li a {
  color: white;
  font-size: 20px;
  margin: 5px 25px;
}

li img {
  display: inline;
}

/* scroll indicator */
.progress-container {
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, .5);
}

.progress-bar {
  height: 4px;
  background: #fff;
  width: 0%;
}

/* intro section */

#intro {
  position: relative;
  text-shadow: 5px 7px rgba(0, 0, 0, 0.5);
  padding-top: 20vh;
  margin: 0;
  font-size: 5vh;
  text-align: center;
  height: 80vh;
}

#intro #welcome, h3, h6 {
  animation: fade-up 500ms ease-in;
}

#intro #quotes, p {
  animation: fade 1250ms ease-in;
}

h3,
p {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

#description {
  text-shadow: 4px 4px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
}

#subtitle {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.5);
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  font-size: 18px;
}

#quotes {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 45px;
  text-shadow: 1px 2px black;
  margin: 0 20vw;
  padding: 10px;
  overflow: hidden;
}

#quote {
  font-size: 32px;
  animation: fade 2s ease-in-out;
}

#author {
  font-weight: 300;
  font-size: 24px;
  animation: fade 2s ease-in-out;
}

#projects {
  height: 100%;
}

.fade-in {
  opacity: 0;
  transition: opacity 400ms ease-in;
}

.fade-in.appear {
  opacity: 1;
}

.project {
  border-radius: 25px;
  background-color: #323D45;
  padding: 30px;
  margin: 20px 10%;
  translate: translateY(-300px) scale(1);
}

#projects,
#skills {
  margin-top: 25px;
  position: relative;
  padding: 50px 0;
  font-size: 3vh;
  background-color: rgba(50, 61, 69, .5);
  text-align: center;
}


#contact {
  display: block;
  padding-top: 1px;
  height: 50vh;
  font-size: 3vh;
  text-align: center;
}

#contact .section-heading {
  margin-top: 15vh;
}

.underline-animation {
  display: inline-block;
  position: relative;
}

.underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: white;
  transition: transform .5s ease-in-out;
}

.underline-animation:hover::after {
  transform: scaleX(1);
}

.row {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.container {
  display: flex;
  flex-direction: column;
}

footer {
  padding: 25px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.skill-item {
  border-radius: 25px;
  padding: 30px;
  max-width: 30%;
  margin: 20px 20px;
  flex: 30%;
  background-color: #323D45;
}

.section-heading {
  text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
  font-size: 48px;
}

.skill-icon {
  background-color: white;
  padding: 15px;
  border-radius: 25px;
}

.skill-item h4 {
  padding: 0;
}

#addtl-skills * {
  padding: 10px;
}

.scale-item {
  transition: transform 0.3s ease-in-out;
}

.scale-item:hover {
  border-radius: 50%;
  transform: scale(1.2);
}

#skills a {
  margin: 0;
}

#contact span {
  padding: 15px 40px;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 25px;
}

/* different sizes */
@media (max-width: 768px) {
  li a {
    font-size: 1rem;
  }

  #intro {
    height: 100%;
  }

  #welcome {
    font-size: 84px;
    margin-bottom: 15px;
  }

  #description {
    font-size: 26px;
  }

  #subtitle {
    font-size: 18px;
    margin: 0px 20%;
  }

  #quote {
    font-size: 24px;
  }

  #author {
    font-size: 16px;
  }

  #name {
    font-size: 18px;
    margin-left: 1rem;
  }

  .skill-item,
  .project {
    max-width: 100%;
    margin-bottom: 10px;
    height: 100%;
    font-size: 70%;
  }

  #hamburger {
    display: inline-block;
    vertical-align: middle;
  }

  #navbar ul {
    display: none;
  }

  #mobilebar.show {
    display: block;
    animation: swipe-left-fade-in 200ms ease-in-out;
  }

  #hamburger.active .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 5px);
  }

  #hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  #hamburger.active .bar:nth-child(3) {
    transform: rotate(45deg) translate(-6px, -6px);
  }
}

/* accessibility */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}