---
export const prerender = true
import { Icon } from "astro-icon/components"

const currentYear = new Date().getFullYear()
---

<footer
  class="flex w-full flex-col place-items-center justify-between gap-4 bg-gradient-to-t from-neutral-300/80 via-95% to-transparent px-2 pb-6 pt-14 font-semibold dark:from-black/80 md:flex-row md:place-items-start md:px-8"
>
  <div class="z-50 flex gap-10 text-sm md:text-base">
    <p>
      developed with <a href="https://astro.build/" class="hover-underline-animation">Astro </a>
      <Icon name="mdi--rocket-launch-outline" class="inline-block size-4 md:size-6" />
    </p>
    <p>
      &copy; {currentYear}
      <a href="mailto:hello@danielmamuza.com" target="_blank" rel="noopener noreferrer">Daniel Mamuza</a>
    </p>
  </div>
  <div class="z-50 flex items-center justify-center gap-4 text-sm md:text-base">
    <p class="rounded-full border border-primary bg-primary/50 px-2.5 py-0.5 backdrop-blur">v3.0.5</p>
    <p class="font-mono">LAST UPDATED 2025-1-20</p>
  </div>
</footer>
