---
import recents from "@/content/recents"
---

<section
  class="z-10 col-span-1 row-span-2 flex w-full flex-col gap-4 rounded-xl bg-muted/60 p-2 backdrop-blur-lg"
>
  <h3 class="text-center font-medium">recent highlights</h3>
  <div class="flex ml-6">
    <ul class="list-disc space-y-2">
      {
        recents.length > 0 ? (
          recents.map((recent, index) => (
            <li class="text-sm text-muted-foreground">{recent.content}</li>
          ))
        ) : (
          <li class="text-sm text-muted-foreground">
            No recent highlights to display.
          </li>
        )
      }
    </ul>
  </div>
</section>
