---
import Hero from "../components/Hero.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout
  title="Not Found"
  description="404 Error — this page was not found"
  OGTitle="404"
>
  <div>
    <Hero title="Page Not Found" tagline="Not found" />
  </div>
</BaseLayout>

<style>
  div {
    height: 50vh;
  }
  @media (min-width: 50em) {
    div {
      height: 70vh;
    }
  }
</style>
