---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
---

<BaseLayout title="About | Daniel Mamuza" description="About Daniel Mamuza">
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About Me"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      />

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Lorem ipsum dolor sit amet, <a href="https://astro.build/">Astro</a>
            makes people happy. Sed do eiusmod tempor incididunt ut labore et dolore
            magna aliqua. Proin nibh nisl condimentum id venenatis a condimentum
            vitae. Dapibus ultrices in iaculis nunc. Arcu odio ut sem nulla pharetra
            diam sit amet. Diam quis enim lobortis scelerisque fermentum dui faucibus
            in ornare.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content" id="education">
          <h4><Icon icon="grad-cap" size="1em" />Sophomore Student</h4>
          <p>
            University of Nevada, Las Vegas <span>August 2023 - May 2027</span>
          </p>
          <p>
            Bachelor of Science in Computer Science, Minor in Mathematics <span
              >GPA: 3.8</span
            >
          </p>
          <p></p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>officia unde omnis</p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }

  #education {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #education p {
    display: flex;
    justify-content: space-between; /* Aligns items from start to end */
    align-items: center; /* Centers items vertically */
  }

  #education h4 {
    font-size: var(--text-lg);
  }
</style>
