---
import "@/styles/global.css"
import Layout from "@/layouts/Layout.astro"

import Welcome from "@/components/Welcome"
import About from "@/components/About.astro"
import Experience from "@/components/Experience.astro"
import Contact from "@/components/Contact.astro"
---

<Layout>
  <Welcome client:load/>
  <div class="pb-40 flex flex-col items-center justify-center gap-24">
    <About />
    <Experience />
    <Contact />
  </div>
</Layout>

<!-- here goes nothing -->
