---
import "@/styles/global.css"
import Welcome from "@/components/Welcome.astro"
import Layout from "@/layouts/Layout.astro"
import About from "@/components/About.astro"
import Experience from "@/components/Experience.astro"
---

<Layout>
  <Welcome />
  <div class="mb-20 flex flex-col items-center justify-center gap-24">
    <About />
    <Experience />
  </div>
</Layout>

<!-- here goes nothing -->
