---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/about/About"
import Games from "@/components/about/Games.astro"
import MostRecent from "@/components/about/MostRecent.astro"
import Contact from "@/components/contact/Contact"
import Experience from "@/components/Experience.astro"
import Skills from "@/components/Skills"
import Welcome from "@/components/Welcome"
import RecentWork from "@/components/work/RecentWork.astro"
---

<Layout>
  <Welcome client:load />
  <div class="flex flex-col items-center justify-center gap-52 pb-40">
    <About client:load>
      <Games />
      <MostRecent />
    </About>
    <Experience />
    <RecentWork />
    <Skills client:idle />
    <Contact client:load />
  </div>
</Layout>

<!-- here goes nothing -->
