---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
import ProjectsGrid from "../components/ProjectsGrid.astro";
---

<BaseLayout
  title="My projects | Daniel Mamuza"
  description="Learn about Daniel Mamuza's most recent projects"
  OGTitle="My Projects"
>
  <div class="stack gap-20">
    <main class="wrapper stack gap-8">
      <Hero
        title="My projects"
        tagline="See my most recent projects below."
        align="start"
      />
      <ProjectsGrid />
    </main>
    <ContactCTA />
  </div>
</BaseLayout>
