---
import ProjectCard from "@/components/work/ProjectCard.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection, type CollectionEntry } from "astro:content"

type Work = CollectionEntry<"work">

const projects = (await getCollection("work")).sort(
  (a: Work, b: Work) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)

const columns: Work[][] = [[], [], []]
projects.forEach((project: Work, index: number) => {
  columns[index % 3].push(project)
})
---

<Layout>
  <main class="pt-40"></main>
  <div
    class="z-10 col-start-1 col-end-13 grid justify-center gap-4 px-16 md:grid-cols-3"
  >
    {
      columns.map((column) => (
        <div class="flex flex-col gap-6">
          {column.map((project) => (
            <div class="project">
              <ProjectCard project={project} />
            </div>
          ))}
        </div>
      ))
    }
  </div>
</Layout>
