---
import ProjectCard from "@/components/work/ProjectCard.astro"
import Layout from "@/layouts/Layout.astro"
import { getCollection, type CollectionEntry } from "astro:content"

type Work = CollectionEntry<"work">

const projects = (await getCollection("work")).sort(
  (a: Work, b: Work) =>
    b.data.publishDate.valueOf() - a.data.publishDate.valueOf()
)

const columns: Work[][] = [[], [], []]
projects.forEach((project: Work, index: number) => {
  columns[index % 3].push(project)
})
---

<Layout>
  <main class="pt-32">
    <div class="grid gap-4 px-8 sm:grid-cols-2 lg:grid-cols-3">
      {
        columns.map((column) => (
          <div class="flex flex-shrink-0 flex-col gap-6">
            {column.map((project) => (
              <div class="z-10">
                <ProjectCard {project} />
              </div>
            ))}
          </div>
        ))
      }
    </div>
  </main>
</Layout>
