---
import Games from "@/components/Games.astro"
import Movies from "@/components/Movies.astro"
import Quotes from "@/components/Quotes"
import TopSkills from "@/components/TopSkills.astro"
---

<div
  class="flex h-full min-h-[400px] w-full max-w-3xl flex-wrap justify-between gap-4 rounded-xl bg-primary-foreground/50 backdrop-blur-sm p-16"
  style="box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 50px 50px;"
>
  
  <Quotes client:load />
  <Games />
  <Movies />
  <TopSkills />
</div>
