---
import { TypewriterEffect } from "./ui/typewriter-effect";

interface Props {
  title: string;
  tagline?: string;
  align?: "start" | "center";
}

const { align = "center", tagline, title } = Astro.props;

const wordsArray = title.split(" ");

const words = wordsArray.map((word) => ({ text: word }));
---

<div class:list={["hero stack gap-4", align]}>
  <div class="stack gap-2">
    <TypewriterEffect words={words} client:load />
    {tagline && <p class="tagline">{tagline}</p>}
  </div>
  <slot />
</div>

<style>
  .hero {
    font-size: var(--text-lg);
    text-align: center;
  }

  .title,
  .tagline {
    max-width: 37ch;
    margin-inline: auto;
  }

  .tagline {
    animation: blur-in 0.7s linear;
  }

  @media (prefers-reduced-motion) {
    .tag-line {
      animation: none;
    }
  }

  .title {
    font-size: var(--text-3xl);
    color: var(--gray-0);
  }

  @media (min-width: 50em) {
    .hero {
      font-size: var(--text-xl);
    }

    .start {
      text-align: start;
    }

    .start .title,
    .start .tagline {
      margin-inline: unset;
    }

    .title {
      font-size: var(--text-5xl);
    }
  }
</style>
