---
import { Icon } from "astro-icon/components"
import ProfilePic from "@/components/ProfilePic.astro"
import { ModeToggle } from "@/components/ui/mode-toggle"
import ScrollProgress from "./ui/scroll-progress"
import { socials } from "@/content/socials"
import { LinkPreview } from "@/components/ui/link-preview"
---

<!-- make hamburger -->
<nav
  class="fixed top-0 z-[5555] flex w-full items-center justify-between gap-6 bg-gradient-to-b from-neutral-200/80 from-40% to-transparent px-2 pb-6 pt-4 font-semibold backdrop-blur-sm dark:from-neutral-950/80 md:px-8"
>
  <div class="flex items-center justify-between gap-4">
    <ProfilePic height="300px" width="300px" small />
    <a href="/">Daniel Mamuza</a>
  </div>
  <div>
    <span>Software Engineer • </span>
    <a href="/work" class="group relative inline-block transition">
      Work
      <span
        class="absolute bottom-0 left-0 block h-0.5 w-full max-w-0 origin-center bg-primary transition-all duration-500 group-hover:max-w-full"
      ></span>
    </a>
  </div>
  <div class="flex place-items-center gap-2 md:gap-6">
    {
      socials.map((social, index) => (
        <LinkPreview
          imageSrc={social.src}
          url={social.href}
          target="_blank"
          isStatic
          client:load
        >
          <Icon
            name={social.icon}
            class={`text-xl transition-all hover:scale-110 hover:text-primary md:text-2xl ${index % 2 === 0 ? "hover:rotate-12" : "hover:-rotate-12"}`}
          />
        </LinkPreview>
      ))
    }
    <ModeToggle client:load />
  </div>
  <ScrollProgress client:idle />
</nav>
