---
import { Icon } from "astro-icon/components"
import ProfilePic from "@/components/ProfilePic.astro"
import ScrollProgress from "./ui/scroll-progress"
import { socials } from "@/content/socials"
---

<nav
  class="sticky top-0 z-[5555] flex w-full items-center justify-between gap-6 bg-gradient-to-b from-gray-200/80 from-40% to-transparent px-8 pb-6 pt-4 backdrop-blur-sm"
>
  <div class="flex items-center justify-between gap-4">
    <ProfilePic height="300px" width="300px" small />
    <a href="/">Daniel Mamuza</a>
  </div>
  <span class="">Software Engineer</span>
  <div class="flex gap-6">
    {
      socials.map((social, index) => (
        <a
          href={social.href}
          class=""
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon
            name={social.icon}
            class={`hover:text-primary text-2xl transition-all hover:scale-110 ${index % 2 === 0 ? "hover:rotate-12" : "hover:-rotate-12"}`}
          />
        </a>
      ))
    }
  </div>
  <ScrollProgress client:idle />
</nav>
