---
interface Props {
  height: string;
  width: string;
  small?: boolean;
}

const { height, width, small } = Astro.props;
---

<profile-pic>
  {
    small ? (
      <button class="profile-picture-small" aria-label="Change profile picture">
        <img decoding="async" alt="Me" loading="eager" />
      </button>
    ) : (
      <button class="profile-picture" aria-label="Change profile picture">
        <img {height} {width} decoding="async" alt="Me" loading="eager" />
      </button>
    )
  }
</profile-pic>

<script>
  import { currentProfile, profiles, cycleProfile } from "../util/store";

  class ProfilePic extends HTMLElement {
    constructor() {
      super();

      this.renderProfilePicture();

      currentProfile.subscribe(() => this.renderProfilePicture());

      const button = this.querySelector("button");

      if (button) {
        button.addEventListener("click", (event) => {
          event.preventDefault();

          cycleProfile();
          const currentProfileName = currentProfile.get();
          // const profile = profiles.find((p) => p.name === currentProfileName)!;
          // var sound = new Audio(profile.audio);
          // console.log(profile.audio);
          // sound.play();
        });
      }
    }

    renderProfilePicture() {
      const currentProfileName = currentProfile.get();
      const profile = profiles.find((p) => p.name === currentProfileName);

      const img = this.querySelector("img");
      if (img && profile) {
        img.src = profile.path;
        currentProfile.set(profile.name);
      }
    }
  }

  customElements.define("profile-pic", ProfilePic);
</script>

<style>
  profile-pic {
    line-height: 0;
    padding: 0;
    border-radius: 1.5rem;
    animation: blur-in 0.7s linear;
  }

  @media (prefers-reduced-motion) {
    profile-pic {
      animation: none;
    }
  }

  profile-pic:hover {
    box-shadow: var(--shadow-md);
  }

  button.profile-picture:hover,
  button.profile-picture-small:hover {
    cursor: url("/help.svg"), auto;
  }

  .profile-picture {
    position: relative;
    z-index: 99;
  }

  .profile-picture img {
    object-fit: cover;
    border-radius: 1.5rem;
    aspect-ratio: 5/6;
  }

  .profile-picture-small {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
  }

  .profile-picture-small img {
    width: 3rem;
    height: 3rem;
    border-radius: 100%;
    object-fit: cover;
  }

  @media (min-width: 50em) {
    .profile-picture img {
      aspect-ratio: 3/4;
    }
  }
</style>
