---
interface Props {
  height: string;
  width: string;
}

const { height, width } = Astro.props;
---

<profile-pic>
  <button class="profile-picture" aria-label="Change profile picture">
    <img {height} {width} loading="lazy" decoding="async" alt="Picture of me" />
  </button>
</profile-pic>

<script>
  // variables
  let imageIndex = localStorage.getItem("imgIndex")
    ? parseInt(localStorage.getItem("imgIndex")!)
    : 0;

  const profilePics = [
    { name: "me", path: "./src/assets/profile/portrait.jpg" },
    { name: "spiderman", path: "./src/assets/profile/spiderman.jpg" },
    { name: "minecraft me", path: "./src/assets/profile/minecraftme.png" },
  ];

  // class
  class ProfilePic extends HTMLElement {
    constructor() {
      super();

      const button = this.querySelector("button.profile-picture")!;

      renderProfilePicture();

      button.addEventListener("click", (event) => {
        event.preventDefault();

        imageIndex = (imageIndex + 1) % profilePics.length;
        renderProfilePicture();
        localStorage.setItem("imgIndex", imageIndex.toString());
      });

      function renderProfilePicture() {
        const img = button.querySelector("img");
        if (img) {
          img.src = profilePics[imageIndex].path;
        }
      }
    }
  }

  customElements.define("profile-pic", ProfilePic);
</script>

<style>
  profile-pic {
    padding: 0;
    max-width: 320px;
    max-height: 640px;
    border-radius: 1.5rem;
    animation: blur-in 0.7s linear;
  }

  @media (prefers-reduced-motion) {
    profile-pic {
      animation: none;
    }
  }

  profile-pic:hover {
    box-shadow: 6px -3px 0px 0px var(--accent-regular);
  }

  .profile-picture {
    padding: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
  }

  .profile-picture img {
    object-fit: cover;
    border-radius: 1.5rem;
  }

  @media (min-width: 50em) {
    .profile-picture img {
      aspect-ratio: 3/4;
    }
  }
</style>
