---
const apiUrl = "https://api.lanyard.rest/v1/users/224338748836413440";

const response = await fetch(apiUrl);
const data = await response.json();
const activity = data.data.activities[0];
---

<div> 
  {activity.details}
</div>

<script></script>
