---
import { Icon } from "astro-icon/components"
import { topSkills } from "@/content/skills"
---

<div
  class="flex flex-wrap max-w-sm z-10 items-center justify-center gap-4 rounded-lg bg-muted backdrop-blur-lg"
>
  {
    topSkills.map((skill, index) => {
      return (
        <div
          class="flex flex-col items-center justify-center transition-transform hover:scale-110"
        >
          <span class="text-[3rem]">
            <Icon name={skill.icon} />
          </span>
          <span class="text-center text-xs">{skill.name}</span>
        </div>
      )
    })
  }
</div>
