---
import { Image } from "astro:assets"
---

<main class="mx-auto flex max-w-md flex-col items-start justify-center px-4 mb-16">
  <div class="z-50 pt-80">
    <h1 class="mb-2 text-2xl font-bold">hey, i'm daniel</h1>
    <h2 class="flex items-center text-2xl">
      software engineer, student at unlv <Image
        height={300}
        width={300}
        src="/experiences/unlv.webp"
        alt="UNLV Logo"
        class="ml-3 h-9 w-9 rounded-lg transition-transform hover:scale-125"
        style={{ imageRendering: "crisp-edges" }}
      />
    </h2>
  </div>
</main>
