---
import { ViewTransitions } from "astro:transitions";

// Component Imports
import MainHead from "../components/MainHead.astro";
import Nav from "../components/Nav.astro";
import Footer from "../components/Footer.astro";
import { ParticlesTest } from "../components/particles";

interface Props {
  title?: string | undefined;
  OGTitle?: string | undefined;
  description?: string | undefined;
}

const { title, OGTitle, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} OGTitle={OGTitle} />
    <ViewTransitions />
  </head>
  <body>
    <ParticlesTest client:load />
    <Nav />
    <div class="mt-48">
      <slot />
      <div id="notice-bar">
        portfolio is in construction. updates coming soon
      </div>
    </div>
    <Footer />

    <script>
      // Add “loaded” class once the document has completely loaded.
      addEventListener("load", () =>
        document.documentElement.classList.add("loaded")
      );

      let sound = new Audio("/keyboard-sound.mp3");
      let isPlaying = false;

      const initClicker = () => {
        const clickElements = document.querySelectorAll("button, a");

        clickElements.forEach((element) => {
          element.addEventListener("click", () => {
            if (isPlaying) {
              sound.currentTime = 0;
            } else {
              isPlaying = true;
              sound.play();

              sound.addEventListener(
                "ended",
                () => {
                  isPlaying = false;
                },
                { once: true }
              );
            }
          });
        });
      };

      document.addEventListener("astro:page-load", initClicker);
      initClicker();
    </script>

    <style>
      #notice-bar {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        backdrop-filter: blur(5px);
        background-color: var(--gray-800_30);
        font-family: var(--font-brand);
        text-align: center;
        font-size: var(--text-md);
        padding: 1rem;
        z-index: 1000;
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
      }
    </style>
  </body>
</html>
