---
import { Image } from "astro:assets"
import type { CollectionEntry } from "astro:content"

interface Props {
  project: CollectionEntry<"work">
}

const { data, id } = Astro.props.project
---

<a class="card" href={`/work/${id}`} class="z-10">
  <span class="title">{data.title}</span>
  <Image src={data.banner.src} alt={data.banner.alt || ""} class="z-10" />
</a>
